[defaults]
inventory = inventory/local.ini
roles_path = roles
collections_path = ../.ansible/collections
stdout_callback = default
callback_result_format = yaml
display_skipped_hosts = false
retry_files_enabled = false
host_key_checking = false
forks = 10
timeout = 30
interpreter_python = auto_silent
gathering = smart
fact_caching = memory

[ssh_connection]
pipelining = true
